:root {
    box-sizing: border-box;
    cursor: default;
    color: rgb(102, 30, 30);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("./images/paper9.png");
    --link-color: #008fd4;
    --link-color-click: #0382c2;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 727.98px) {
    body {
        font-size: 21px;
    }
}

@media only screen and (max-width: 727.98px) {
    body {
        font-size: 18px;
    }
}

body {
    width: 80vw;
    margin: 0 auto 3rem auto;
    line-height: 1.58;
    font-family: 'Literata', sans-serif;
    font-weight: 400;
    box-sizing: inherit;
}

.task-list-item {
    list-style-type: none;
}

.task-list-item-checkbox {
    margin-left: -20px;
    vertical-align: middle;
}

.online-course {
    margin-top: 5vh;
}

.online-course-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2.5vh;
}

.online-course-content>* {
    padding: 0.5rem;
}

.online-course-content>div {
    border-bottom: dashed #989693b0;
}

.blog {
    margin-top: 10vh;
}

.blogs-list {
    margin-top: 5vh;
}

.blogs-list__container {
    margin-top: 2.5vh;
}

.blogs-list__container>ul {
    list-style: none;
}

.blogs-list__container>ul>li {
    margin-top: .8rem;
}

.nav-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2.5vh;
}

.nav-home--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5vh;
    padding-bottom: 2rem;
}

.note-container>h1 {
    text-align: center;
}

.note-container img {
    margin: 1.5em 0;
}

.note-container>h2 {
    margin-top: 2rem;
}

.note-container pre {
    white-space: pre-wrap;
    margin: 1rem 0;
    border: 1px solid #6e6868c2;
    font-size: 1.25rem;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.note-container pre code {
   font-size: 0.8em;
}

.note-container ul {
    list-style-position: inside;
}

.note-container>ul>li>ul>li {
    margin-left: 2rem;
    list-style-type: none;
}

.note-container>ul>li>ul>li::before {
    content: "\2501";
    padding-right: 1rem;
}

.note-container>ul>li>ul>li>ul {
    margin-left: 2rem;
}

.note-container>ul>li>ul>li>ul>li {
    list-style-type: none;
}

.note-container>ul>li>ul>li>ul>li::before {
    font-size: 1.2em;
    content: "\25B8";
    padding-right: 1rem;
}

.note-container>h3 {
    margin-top: 2rem;
}

.note-container__ref {
    margin-top: 2rem;
}

.note-container__ref--links {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.note-container__ref--links a {
    text-decoration: none;
    color: var(--link-color);
}

.note-quote {
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f954;
    border: 1px dashed #4343436b;
}

.note-quote ul {
    padding-left: 1.25rem;
}

.note-group {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed rgba(0, 0, 0, 0.5);;
    padding: 1rem;
    border-radius: .5rem;
}

.btn-primary {
    text-decoration: none;
    color: var(--link-color);
    border: 1px solid transparent;
    padding: .5rem;
    border-radius: 0.4rem;
}

.btn-primary:hover {
    border: 1px solid #05a2f0c5;
    padding: .5rem;
    border-radius: 0.4rem;
}

.btn-primary:active {
    border: 1px solid #044464f3;
    color: var(--link-color-click);
    padding: .5rem;
    border-radius: 0.4rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8em;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ---- Interprocess Communication >>> ----- */

.ipcms-remark {
    margin-top: 0.5rem;
}

.ipcms-remark>ul {
    padding-left: 1.5rem;
}

.ipcms-remark a {
    text-decoration: none;
    color: var(--link-color);
    ;
}

.ipcms-table {
    width: 100%;
    margin-top: 2.5vh;
    border-collapse: collapse;
}

.ipcms-table>tbody {
    text-align: center;
}

.ipcms-table a {
    text-decoration: none;
    color: var(--link-color);
    ;
}

.ipcms-table>table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}

/* ---- <<< Interprocess Communication ----- */

.list-group {
    display: inline-flex;
    padding: 1rem;
    border: 1px dashed;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: .2rem;
    background-color: rgba(228, 220, 220, 0.18);
}

.list-group ul li {
    list-style-type: none;
}